body {
    background: #70e1f5; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to bottom,
        #ffd194,
        #70e1f5
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to bottom,
        #ffd194,
        #70e1f5
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'PT Sans Narrow', sans-serif;
}

button {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: red;
    border: 1px solid darkred;
    cursor: pointer;
}

.fun {
    background: #ff4e50; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #f9d423,
        #ff4e50
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #f9d423,
        #ff4e50
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
